<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TAS-Pro Automation Suite">
	<listeners>
		<listener class-name="com.taspro.listeners.ReportListners" />
	</listeners>
	<test thread-count="5" name="Test">

		<classes>
			<class name="com.taspro.testcases.LoginPageTest">
				<methods>
					<include name="userLoginTest" />
				</methods>
			</class>
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->